@tailwind base;
@tailwind components;
@tailwind utilities;

 

* {
  margin: 0;
  padding: 0;
}



body {
  width: 100%;
  height: 100%;
  font-family: 'PP Neue Montreal', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, #2bc1e2 0%, rgba(43, 193, 226, 0.64) 100%);
} */

.conseilnav-p {
  font-weight: 100;
  font-size: calc(1em + 0.8vw);
  letter-spacing: 0.03em;
  color: #e24d2c;
  border: 1px solid #e24d2c;
  border-radius: 7px;
  padding: 8px 16px;
  position: absolute;
  bottom: 16px;
  right: 32px;
}

.titre {
  position: absolute;
  top: 5%;
  left: 3%;
  max-width: 90vw;
}

.svg-content {
  width: 100%;
  box-sizing: border-box;
  order: 2;
  z-index: 2;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.451));
}

.pays-actifs {
  fill: #fefefa;
  border: 0.5px solid #e1e1e1;
  flex-shrink: 1;
}

.pays-actifs:hover {
  fill: #ffe500;
}

.land {
  fill: #edeae0;
}

.credits-p {
  order: 3;
  z-index: 3;
  position: absolute;
  bottom: 16px;
  left: 16px;
  width: -moz-max-content;
  width: max-content;
  font-weight: 100;
  font-size: 12px;
  line-height: 150%;
  color: #292929;
}

.ada-logo {
  width: 50px;
  object-fit: contain;
  position: relative;
  left: 4px;
  top: 2px;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

/* PopUp */

/* Auto layout */

.chart-card {
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  display: flex;
  width: fit-content;
  pointer-events: none;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #000;
  box-shadow:
    0 -1px 10px 10px rgba(0, 0, 0, 0.1),
    0 10px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 5px;
  position: absolute;
  z-index: 100;
  transform: translateY(100%);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.chart-card.displayed {
  transition-duration: 700ms;
  opacity: 1;
  transform: translateY(0);
}

.card-img-div {
  /* Auto layout */
  overflow: clip;
  display: flex;
  flex-direction: row;
  width: 72px;
  height: 72px;
  min-width: 36px;
  min-height: 36px;
  background-size: contain;
  border: 1px solid #000;
  box-shadow:
    inset -2px -2px 2px 1px rgba(0, 0, 0, 0.15),
    inset 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

/* Frame 4 */

/* Auto layout */

.card-info-section {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0 0;
  justify-self: flex-end;
  font-weight: 400;
  gap: 2px;
  font-size: 16px;
  color: #313131;
}

.card-header {
  font-size: 14px;
  flex-grow: 0;
  font-weight: 400;
}

/* identical to box height */

.card-track {
  flex-grow: 0;
  font-weight: 700;
}

.card-artist {
  display: inline;
}

.selectors-window {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  position: fixed;
  left: 2%;
  overflow-y: scroll;
  z-index: 100;
}

#selectors-list {
  padding: 8px;
  width: 200px;
}

#selectors-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
