
 *{
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

 body {
  width: 100%;
  height: 100%;
  font-family: 'PP Neue Montreal', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(50% 50% at 50% 50%, #2bc1e2 0%, rgba(43, 193, 226, 0.64) 100%);
}  

.conseilnav-p {
  font-weight: 100;
  font-size: calc(1em + 0.8vw);
  letter-spacing: 0.03em;
  color: #e24d2c;
  border: 1px solid #e24d2c;
  border-radius: 7px;
  padding: 8px 16px;
  position: fixed;
  bottom: 8px;
  right: 8px;
}

#heading {
  position: absolute;
  top: 5%;
  left: 3%;
  max-width: 90vw;
}

#map {
  width: 100%;
  order: 2;
  z-index: 2;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.451));
}

.hidden {
  transition:all;
  transition-duration: 1s;
  opacity: 0;
  width: 0;
  height: 0;
}

.pays-actifs {
  fill: #fefefa;
  border: 1px solid #e1e1e1;
  flex-shrink: 1;
  transition:all;
  transition-duration: 500ms;
}


.pays-actifs:hover {
  fill: #ffe500;
}

.land {
  fill: #edeae0;
}

.credits-p {
  order: 3;
  z-index: 3;
  position: fixed;
  bottom: 8px;
  left: 8px;
  width: -moz-max-content;
  width: max-content;
  font-weight: 100;
  font-size: 12px;
  line-height: 150%;
  color: #292929;
}

.ada-logo {
  width: 50px;
  object-fit: contain;
  position: relative;
  left: 4px;
  top: 2px;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.chart-card {
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  display: flex;
  width: fit-content;
  background: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid #000;
  box-shadow:
    0 -1px 10px 10px rgba(0, 0, 0, 0.1),
    0 10px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 5px;
}

.card-list {
  display: flex; 
  width: fit-content;
  flex-direction: column; 
  position: absolute; 
  pointer-events:none; 
  gap: 80px;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: all;
  transform: translateY(90vh);
  transition-duration: 600ms;
  transition-timing-function: ease-in;
}

.card-list.displayed {
  transition-duration: 600ms;
  opacity: 1;
  transform: translateY(0);
  gap: 8px;
  transition-timing-function: ease-out;
}

.card-img-div {
  overflow: clip;
  display: flex;
  flex-direction: row;
  width: 72px;
  height: 72px;
  min-width: 36px;
  min-height: 36px;
  background-size: contain;
  border: 1px solid #000;
  box-shadow:
    inset -2px -2px 2px 1px rgba(0, 0, 0, 0.15),
    inset 2px 2px 2px 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.card-info-section {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0 0;
  justify-self: flex-end;
  font-weight: 400;
  gap: 2px;
  font-size: 16px;
  color: #313131;
}

.card-header {
  font-size: 16px;
  flex-grow: 0;
  font-weight: 400;
}

/* identical to box height */

.card-track {
  flex-grow: 0;
  font-size: 16px;
  font-weight: 700;
}

.card-artist {
  font-size: 14px;
}

.selectors-window {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  position: fixed;
  left: 8px;
  overflow-y: scroll;
  z-index: 100;
}

.selectors-window--hide-button {
  cursor: pointer;
 border: 1px solid #e24d2c;
 background-color: #e24d2c;
 border-radius: 5px;
 padding:  2px 4px;
 color: white;
 width:fit-content;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 16px;
}


#selectors-list {
  padding: 8px;
  width: 200px;
}

#selectors-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
